@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');

@tailwind base;
@layer base {
  html {
    @apply font-source_sans;
  }
}
@tailwind components;
@tailwind utilities;
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    margin: 0px 10px;
    border-radius: 20px;
    background: #1a191f;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #a7a7a7;
    border-radius: 20px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7;
  }
}

@font-face {
  font-family: 'Ionicons';
  src: url(assets/fonts/ionicons.woff) format('woff');
}

* {
  box-sizing: border-box;
}
.react-tabs__tab-list {
  @apply mb-2 p-0;
}
.empty-icons {
  display: flex !important;
}
.filled-icons {
  display: -webkit-inline-box !important;
}
.react-tabs__tab {
  @apply inline-block relative list-none px-4 py-2 cursor-pointer -bottom-px uppercase text-sm;
}
.react-tabs__tab--selected {
  @apply border-b-4 border-primary text-primary;
}

input {
  @apply bg-textbox px-5 py-3 rounded-md text-white items-start;
}
input:focus {
  @apply outline-none border-2 border-primary;
}
button {
  @apply flex justify-center items-center h-11 w-full rounded-md border-primary border-2 text-white text-sm uppercase transition duration-300 ease-out;
}
button:hover {
  @apply bg-primary/10;
}
.triangle {
  position: absolute;
  top: -8px; /* Adjust as needed */
  left: 50%;
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent; /* Adjust the size of the triangle */
  border-right: 0.5rem solid transparent; /* Adjust the size of the triangle */
  border-bottom: 0.5rem solid #374151; /* Adjust the size and color of the triangle */
  transform: translateX(-50%);
}
