@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600");

@tailwind base;
@layer base {
  html {
    @apply font-source_sans;
  }
}
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ionicons';
  src: url(assets/fonts/ionicons.woff) format('woff');
}

input {
  @apply bg-textbox px-5 py-3 rounded-md text-white items-start;
}
input:focus {
  @apply outline-none border-2 border-primary;
}
button {
  @apply flex justify-center items-center h-11 w-full rounded-md border-primary border-2 text-white text-sm uppercase transition duration-300 ease-out;
}
button:hover {
  @apply bg-primary/10;
}