.react-tabs {
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-tabs__tab-list {
    margin: 0 0 10px;
    padding: 0;
  }
  
  .react-tabs__tab {
    @apply inline-block relative list-none px-4 py-2 cursor-pointer -bottom-px uppercase text-sm;
  }
  
  .react-tabs__tab--selected {
    @apply border-b-4 border-primary text-primary ;
  }
  
  .react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
  }
  

  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }