*{
    box-sizing: border-box;  
 }
#container { 
    width: 100vw;
    height: 100vh;
    background-image: url(/src/assets/images/bg.png);
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}   
@font-face {
    font-family: 'Ionicons';
    src: url(/src/assets/fonts/ionicons.woff) format('woff');
}
.form-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding-left: 61px;
    padding-right: 61px;
    text-align: center;
    border: 1px solid var(--textbox, #222028);
    background: var(--background, #1A191F);
}

.form-container img {
    margin-top: 60px;
    margin-bottom: 56px;
    align-self: center;
    width: 175px;
    height: 23px;
}

.form-container input {
    margin-bottom: 21px;
}

#login {
    height: 590px; 
}

#register {
    height: 620px;
}
#forgot-password {
    height: 410px;
}

.sign__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 100%;
    border-radius: 6px;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #f9ab00;
    margin-top: 36px;
    margin-bottom: 15px;
}
.sign__delimiter {
    font-size: 14px;
    color: #fff;
    line-height: 100%;
}
.sign__text {
    margin-top: 15px;
    font-size: 14px;
    color: #fff;
}
.sign__text a {
    position: relative;
    color: #f9ab00;
}
