#container { 
    width: 100vw;
    height: 100vh;
    background: white; 
    background-size: 100vw 100vh;
    background-image: url(./bg.png);
}   
#login {
    width: 400px;
    height: 590px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid var(--textbox, #222028);
    background: var(--background, #1A191F);
}